.post {
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.title {
  font-weight: normal;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0;
}

.user {
  text-decoration: none;
  color: #eca706;
  display: block;
  width: fit-content;
}
