.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
}

.title {
  font-size: 24px;
  text-transform: capitalize;
  margin: 0;
}

.user {
  text-decoration: none;
  color: #eca706;
}
